.cartitem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartbox {
    flex-wrap: wrap;
    margin-top: 30px;
}

.cartimg img {
    width: 200px;
    height: 200px;
}